html {
    background-color: rgb(189, 221, 231);
    font-family: sans-serif;
   }

body{
margin: 0 auto;
width: 100%;
max-width: 80ch;
padding: 1rem;
line-height: 1.5
}

*{
box-sizing: border-box;
}

h1{
margin: 1rem 0;
font-size: 2.5rem;
}
.navbar a {
    font-size: 1rem; 
  }
  .navbar ul {
    padding: 0; 
  }
  
  .navbar li {
    margin-right: 1rem; 
  }
  
  .navbar a {
    padding: 0.5rem 1rem; 
  }
  .navbar a {
    line-height: 2; 
  }
  .navbar ul {
    display: flex;
    justify-content: space-between; 
  }
  .navbar {
    background-color: #333; /* 导航条背景颜色 */
  }
  
  .navbar a {
    color: #c5dda2; /* 导航链接的文本颜色 */
  }