<a href="/">主页</a>
<a href="/简介/">简介</a>
<a href="/医资队伍/">医资队伍</a>
<a href="/健康知识/">健康知识</a>
<a href="/主要产品/">主要产品</a>
<style>
    {
        color: rgb(133, 28, 172);
        text-decoration: none;
        margin-right: 5.2em;}
        .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        color：white
        text-align: center;
} 
    
    a:hover {
        text-decoration: none;
        background-color: rgb(197, 154, 221);
    }
</style>