<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<a href="/notes/">Notes</a>

<style>
    {
        color: rgb(133, 28, 172);
        text-decoration: none;
        margin-right: 5.2em;
    }
    a:hover {
        text-decoration: underline;
        background-color: rgb(197, 154, 221);
    }
</style>